<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <title>ROOM</title>
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <!-- CUSTOM STYLE  -->
    <link href="../../css/style_ChatView.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="aside">

            <div class="link">
                <a href="#" id="Bienvenue">Bienvenue</a>
                <a href="#" id="Vielletechno">Vielletechno</a>
                <a href="#" id="Divers">Divers</a>
                <a href="#" id="Room1">Room1</a>
                <a href="#" id="Room2">Room2</a>
            </div>

            <div id="recherche">
                <form action="#">
                    <label for="input_recherche">Recherche</label>
                    <input type="text" id="input_recherche">
                    <button type="submit" name="recherche" id="boutton_recherche">Rechercher</button>
                </form>
            </div>
        </div>

        <div id="titre">
            <h3>Vous êtes sur la room numero ***</h3>
        </div>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>